.appre{
    width: 100vw;
}

.appre-head{
    position: relative;
    margin-top: 5rem;
    text-align: center;
    /* font-family: 'Fredoka',sans-serif; */
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.03em;
}
.appre-describe{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: 'Readex Pro',sans-serif;
    letter-spacing: 0.04em;
    font-weight: 600;
}
.cards{
    position: relative;
    background-color:transparent;
    top: 90px;
    /* width: 100%; */
    height: 30vh;
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}
.trusted-logo{
    /* border-radius: 60%; */
    width: 80%;
}

/* Mobile View */
@media only screen and (max-width: 1000px) {
    .cards{
        position: relative;
        background-color:transparent;
        top: 90px;
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction:column ;
        align-items: center;
    }

    .trusted-logo{
        /* border-radius: 60% ; */
        width: 80vw;
        align-items: center;
        justify-content: center;
    }
}