:root{
    --ap: #abcdab;
    --bc: #0f1010;
    --white: #ffffff;
    --ptc: #1c1b1b;
    --stc: #666666;
    --ttc: #4e4a4a;
    --bg: #f5f5f5;
    --shadow:  7.2px 3.7px 15px -8px rgba(0, 0, 0, 0.066),23.8px 12.4px 50.5px -8px rgba(0, 0, 0, 0.083),77px 40px 226px -8px rgba(0, 0, 0, 0.1);
    --trans: width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    --shadow-high: -1.6px -3.1px 15.6px -2px rgba(0, 0, 0, 0.1),-0.6px -1.2px 26.6px -2px rgba(0, 0, 0, 0.073),4px 7.6px 35px -2px rgba(0, 0, 0, 0.064),14.8px 28.3px 46.9px -2px rgba(0, 0, 0, 0.056),57px 109px 124px -2px rgba(0, 0, 0, 0.044);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
    overflow-x: clip;
    /* max-width: 100vw; */
}

